<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span>Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Customer Id</span></dt>
                <dd>
                    <span>{{order.customerId}}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{order.orderDate}}</span>
                </dd>
                <dt><span>Invoice Status</span></dt>
                <dd>
                    <span>{{order.invoiceStatus}}</span>
                </dd>
                <dt><span>Net</span></dt>
                <dd>
                    <span>{{order.net}}</span>
                </dd>
                <dt><span>Shipping Cost</span></dt>
                <dd>
                    <span>{{order.shippingCost}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{order.note}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{order.total}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{order.createdDate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{order.createdBy}}</span>
                </dd>
                <dt><span>Modified Date</span></dt>
                <dd>
                    <span>{{order.modifiedDate}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{order.modifiedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
