<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderItem">
            <h2><span>Order Item</span> {{orderItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order Id</span></dt>
                <dd>
                    <span>{{orderItem.orderId}}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{orderItem.orderDate}}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{orderItem.productId}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{orderItem.quantity}}</span>
                </dd>
                <dt><span>Adjusted</span></dt>
                <dd>
                    <span>{{orderItem.adjusted}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{orderItem.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-item', orderItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
